body {
    background: linear-gradient(#503ab5, #20aa9d);
    background-repeat: no-repeat;
}

.App {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.App h1 {
    color: white;
}

.form-container {
    max-width: 350px;
    margin: auto;
}

.form-container input {
    width: 250px;
    height: 25px;
    margin-right: 8px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 2px solid white;
    color: white;
}

.data-container {
    background-color: white;
    border-radius: 10px;
}
