body {
    background: linear-gradient(#503ab5, #20aa9d);
    background-repeat: no-repeat;
}

.App {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.App h1 {
    color: white;
}

.data-container {
    background-color: rgba(255, 255, 255, 0.713);
}
