body {
    background: linear-gradient(#503ab5, #20aa9d);
    background-repeat: no-repeat;
}

.App {
    height: 635px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.App h1 {
    color: white;
}

.form-container {
    max-width: 350px;
    margin: auto;
}

.form-container input {
    width: 310px;
    height: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 2px solid white;
    color: white;
}

.form-container button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.data-container {
    margin-top: 5%;
    padding: 10%;
    background-color: white;
    border-radius: 10px;
}

.data-container .weatherIcon {
    display: block;
    height: 30%;
    width: 100px;
    margin: auto;
}
